/* @override http://10.0.1.28/nasaprofiles/style.css */

body {
	font-family: arial, sans-serif;
	font-size: 12px;
	border: 0;
	color: #404040;
	padding-bottom: 30px;
	background: #fff url(images/body_bg.jpg) center top no-repeat;
	margin: 0;
}
#header{
    padding:0px 0px 50px 100px;    
}

h1 {
    font-family: century gothic;
	background: #0F222C;
	padding: 30px 0 10px 20px;
	color: #fff;
	width: 245px;
	margin: 0;
}

h2 {
	font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.h2 {
	font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.h2_web {
	font-family: arial, sans-serif;
    font-size: 16px;
    color:#1CACC4;
}

h3 {
	font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

h5 {
    font-family: century;
    font-size: 42px;
    font-style: bold;
    color: #404040;
    margin-top: 40px; 
    margin-bottom: 0px;   
}

h6 {
    font-family: century;
    font-size: 20px;
    font-style: italic;
    color: #404040;   
    margin-bottom: 70px; 
    margin-top: 0px;
}
#slogan {
    text-align: center;
    padding-bottom: 100px;
}

#tagline {
    text-align: center;
    margin-bottom: 120px;
}

.submit{
    font-size:35px;
    color:#404040;
    text-align:center;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
	
}

ul#nav {
	list-style: none;
	background: #000;
	display: block;
	float: left;
	height: 35px;
	padding: 0;
	width: 100%;
	margin: 15px 0;
}

ul#nav li {
	float: left;
}

ul#nav li a {
	color: #C0CDCF;
	display: block;
	padding: 10px 30px;
	border-right: 1px solid #555;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
}

ul#nav li a:hover {
	color: #fff;
}

#search_home{
    width: 985px;
    min-height: 400px;    
    margin-bottom: 30px;
}

#content {
	width: 600px;
	min-height: 400px;
	margin-right: 2px;
	float: left;
	padding: 15px;
}

#sidebar {
	width: 340px;
	float: left;
	margin-left: 8px;
	margin-top: 20px;
}

#sidebar_text{
    margin: -30px 0px 0px 4px;
    float: left;
}

#map {
	margin: 0px 5px;
	width: 325px;
	float: left;
}

#twitter{
    float: left;
    width: 310px;
    margin: 10px;    
}

#facebook{
    float: left;
    width: 310px;
    margin: 10px;    
}

#search {
	float: left;
	width: 100%;
}

#person {
	float: left;
	width: 100%;
}

span.fn {
	font-size: 36px;
	font-weight: bold;
	float: left;
	display: block;
}

.org {
	float: left;
	display: block;
	width: 400px;
	font-size: 20px;
}

.email {
	display: block;
	float: left;
}	
	
img.photo {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	background:#CCCCCC none repeat scroll 0 0;
    padding:5px;
}

.tel {
	display: block;
	clear: both;
	float: left;
	margin-top: 5px;
}

.address {
	float: left;
	margin-right: 50px;
}
#person address {
	font-style: normal;
}

.otherInfo {
	float: left;
}

.contact {
	float: left;
	margin-top: 10px;
	width: 300px;
}


#footer {
	clear: both;
}

#container {
	// background: url(images/wrapper_bg.png) top left repeat-y;
	background-color: white;
	width: 985px;
	float: left;
}

#results_page {
    background: url(images/wrapper_bg.png) top left repeat-y;
    float: left;
    width: 985px;
    padding: 20px;
}

#profile_card{
    background:#E3EEF1;
    width: 345px;
    height: 80px;
    margin: 20px;
    padding: 5px;
}

#stat {
    font-size: 150%;
    margin:30px;
}

#big_num {
    font-size: 500%;
    font-weight: bold;
}

#results_query {
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
    padding-left: 10px;
}

#stat_description {
    border-bottom:1px solid #888888;
    font-size:12px;
    font-weight:bold;
}

#results_gravatar{
    float: left;
    display: block;
}

#results_info{
    float: left;
    padding-left: 10px;
    font-style: bold;
    display: block;
    width: 250px;
    height: 50px;
}

.results_name{
    font-size: 125%;
    font-weight: bold;
    margin-bottom:3px;  
    height: 20px;
}

#results_category{
    float:right;
    padding-right: 5px;
    width: 50px;
    height: 50px;
}

#results_center{
    float: left;
    width: 250px;
    padding-left: 10px;
    padding-top: 18px;
    
}

#profile_page {
    background: url(images/wrapper_bg.png) top left repeat-y;
    float: left;
    width: 985px;
    padding: 20px;
}

#profile_title{
    float:left;
    width:430px;
}

#profile_category{
    float:right;
    width: 100px;
    height: 100px;
}

.main_project_web {
    margin-left: 30px;
    font-size: 125%;
}

.edit_textarea_bio{
    width: 100%;
    height: 150px; 
}

.edit_textarea{
    width: 100%;
    height: 100px; 
}

#no_search {
    text-align: center;
    margin-left: 335px;
    margin-top: 20px;
    width:300px;
    font-size: 110%;
    background-color: #F5E39C;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#create_alert {
    text-align: center;
    margin-left: 335px;
    margin-top: 20px;
    width:300px;
    font-size: 110%;
    background-color: #F5E39C;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

#simple_message {
    margin: 20px;
}

.narrow_block {
	width: 275px;
	margin-right: 10px;
	float: left;
	margin-bottom: 20px;
}

.wide_block {
	width: 575px; 
	float: left;
	margin-bottom: 20px;
}

.otherInfo ul {
	padding: 0;
}

#edit_alert {
    background-color: #F5E39C;
    text-align:center;
    float: left;
    width: 290px;
    margin: 10px;
    padding: 10px;
}

#message_alert{
    background-color: #F5E39C;
    text-align:center;
    margin: 10px;
    padding: 10px;
}

#notify{
    font-size: 150%;
    font-style: bold;
    margin: 30px 10px;
    padding: 10px;
}


#profile_edit {
    background: url(images/wrapper_bg.png) top left repeat-y;
    float: left;
    width: 985px;
    padding: 20px;
}

#profile_edit_form {
    
    
    
}

.legend_title {
    font-size: 125%;
    font-weight: bold;   
}

#name_column {
    width: 191px;
    float: left;
}

#email_column {
    width: 240px;
    float: left;
}

#number_column {
    width: 144px;
    float: left;
}

#three_column {
    width: 191px;
    float: left;
}

input.share { 
    color:#404040; 
    font: bold xx-large 'trebuchet ms',helvetica,sans-serif; 
}

#static_page {
    background: url(images/wrapper_bg.png) top left repeat-y;
    float: left;
    width: 985px;
    padding: 20px;
}


.faq {
    color: #404040;
}

#question {
    font-weight: bold;
    font-size: 150%;
    margin: 10px; 
}

#answer {
    margin: 10px 10px 20px 20px;
    
}

#footer {
	color: #ccc;
	border-top: 1px dotted #999;
	width: 985px;
}

#footer ul {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 120%;
}

#footer li {
	float: left;
	margin-right: 10px;
}

#footer li a {
	color: #;
}

a {
	color: #1cacc4;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

.profile_edit_fieldset {
    border: 1px dotted #999;
    border-color: #cccccc;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 
}

.warning {
    color: red;
}

#edit_submit {
    text-align: center;
}

.form_custom {
    margin-top: 10px;
    margin-left: 25px;
    width: 80px;
}

#gravatar_rows {
    margin-top:10px;
}

#center_search {
    padding-top: 10px;
}

#other_search {
    padding-top: 10px;
    padding-bottom: 20px;
}

#search_button {
    font-size: 200%;
}

#recently_edited_home {
    padding: 20px;
}

#toc {
    margin: 20px;
}

#question_mark {
    padding-left: 7px;
}