{% extends base.html %}

{% block body %}

<div id="static_page">
  <div id="content">
    
    <div id="question">
      Is this a NASA service?
    </div>
    
    <div id="answer">
      <p>No, this is not a NASA service.</p>

      <p>This is a private, non-government website.  Any material posted by civil servants or contractor personnel is done during off-duty, non-official time. The service itself is hosted on a private server and requires a NASA e-mail to edit the profile associated with the e-mail. As such, this service is not currently moderated. Additionally, since this is free, side-project service, your inquiries may take some time to be answered.</p>
    </div>
    
    <div id="question">
      Why did you create this service?
    </div>
    
    <div id="answer">
      <p>There are approximately 120,000 people in the U.S. Space Program and this service is intended to help employees connect with each other.  Employees can search to find each other if they know they exist via the <a href="http://people.nasa.gov">traditional directory</a> (our internal directory doesn't have much more information), however we go a step further.  We provide a platform where employees can have a picture displayed, add in their current project they are working on, provide tags and skills, and list side projects they are working on. This information will help employees search for colleagues and collaborators they didn't even know they exist!  Also, this will help employees learn more about even their most frequent collaborators.</p>
      <img src="/static/images/NASAhacks.jpg" align="right" width="213" height="133">      
      <p>This service is an experiment in transparency and accessibility of the NASA workforce for the NASA workforce. The developers and initiators of this service have only the highest intention and are committed to contributing to an open and honest workplace and allowing greater access within and into the the U.S. space program.</p>

      <p>This service has been desired for some time within NASA.  It took the <a href="http://www.sunlightlabs.com">Sunlight Labs</a> to provide leadership and encourage groups to host their own <a href="http://www.sunlightlabs.com/gah">Great American Hackathon</a> over the weekend of December 11-12, 2009. This project was started at that hackathon, and the first revision was released within two weeks.</p>
    </div>
    
  </div>

  <div id="sidebar">
    
    {% include "stats.html" %}

  </div>
</div>

<div>

{% end %}