{% extends base.html %}

{% block body %}

<div id="static_page">
  <div id="content">

    <div id="question">
      What is people.openNASA?
    </div>
    
    <div id="answer">
      <p>NASA has a contact directory that exposes basic information
      about it's employees. Both the internal and external versions of
      this contact directory expose administrative details about
      individuals such as contact information and departmental
      code. </p>
      
      <p>Although this system helps us find contact information about
      those we already know, often we find ourselves wanting
      to <i>search</i> for people based on specific skills or
      attributes. When we find them, we would like to know a bit more
      about who are they and what they do.</p>

      <p><i>people.openNASA</i> is a profile system that makes use of
      the existing NASA contact directory, and gives employees the
      option to expand their profile with more
      information. <i>people</i> uses all the public information
      already available about each NASA employee. If you search here,
      you'll get the same results you would get by
      using <a href="http://people.nasa.gov">people.nasa.gov</a>-- and
      more.</p>

      <p>We hope that this service will support the NASA community and
      our colleagues in finding and learning about one another, and
      collaborating more effectively.</p>
    </div>
    
    <div id="question">
      So this is a NASA service?
    </div>
    
    <div id="answer">
      <p>No, this is not a NASA service. It was made with public
      information on personal time, by people who happen to be NASA
      employees.</p>

      <p>This is a private, non-government website. Any material
      posted is done during off-duty, non-official time. The service
      itself is hosted on a private server and requires a NASA e-mail
      to edit profiles associated with each e-mail.</p>
    </div>
    
    <div id="question">
      What Motivated This Project?
    </div>
    
    <div id="answer">
      <p>There are approximately 120,000 people in the U.S. Space
      Program, most of whom do not know each other. We provide a
      platform where employees can have a picture displayed, add in
      the current project they are working on, provide tags and
      skills, and list side projects.</p>
      <img src="/static/images/NASAhacks.jpg" align="right" width="213" height="133">      

      <p>Inspired by work in the open government movement, this
      service is an experiment in transparency and accessibility of
      the NASA workforce, for the NASA workforce. The developers of
      this service are committed to contributing to an open and honest
      workplace and allowing greater access within and into the
      U.S. space program.</p>

      <p>This service has been desired for some time within NASA. It
      took the <a href="http://www.sunlightlabs.com">Sunlight Labs</a>
      to provide leadership and encourage groups to host their
      own <a href="http://www.sunlightlabs.com/blog/2009/great-american-hackathon-wrap-/">Great
      American Hackathon</a> over the weekend of December 11-12,
      2009. This project was started at that hackathon, and the first
      revision was released a month later.</p>
    </div>
    
  </div>

  <div id="sidebar">
    
    {% include "stats.html" %}

  </div>
</div>

<div>

{% end %}
