<select name="ou" size=1>
  <option value="None">Select a Center...</option>
  <option value="Ames Research Center">Ames Research Center</option>
  <option value="Langley Research Center">Langley Research Center</option>
  <option value="Marshall Space Flight Center">Marshall Space Flight Center</option>
  <option value="Glenn Research Center">Glenn Research Center</option>
  <option value="Goddard Space Flight Center">Goddard Space Flight Center</option>
  <option value="Kennedy Space Center">Kennedy Space Center</option>
  <option value="Jet Propulsion Laboratory">Jet Propulsion Laboratory</option>
  <option value="headquarters">Headquarters</option> 
  <option value="local">people.openNASA</option> 
</select>
