{% extends base.html %}

{% block body %}

<div id="static_page">
  <div id="content">
    <div id="message_alert">
      {{ message }}
    </div><br><br><br>
    
    <div id="notify">
      Go back <a href="http://people.opennasa.com">home</a> to conduct another search to find colleagues and collaborators.
    </div>
    
    <div id="notify">
      If you have any comments, requests, and ideas that you would like to share publicly, please contribute to our <a href="http://feedback.opennasa.com/pages/36731/">Feedback Forum</a>.
    </div>
    
    <div id="notify">
      If you have any questions about this service, please look at the <a href="http://people.opennasa.com/faq">Frequently Asked Questions</a>.  If your answers are not there, please <a href="mailto:people@opennasa.com">e-mail us</a>.
    </div>
    
    <div id="notify">
      If you're bored and want to be inspired, check out what is new on the <a href="http://www.opennasa.com">openNASA Collaborative Blog</a>.
    </div>
  
  </div>

  <div id="sidebar">

    {% include "stats.html" %}

  </div>
</div>
<div>

{% end %} <!-- end block -->

