{% extends base.html %}

{% block body %}

<div id="static_page">
  <div id="content">
    <div id="faq_toc">
    
    </div>
    <div id="question">
      Where are you getting all of this information?
    </div>
    <div id="answer">
      NASA has an servers which document every employee and guest registered into NASA's systems.  That's right, every single guest that visits a NASA center fills out some paperwork, and this is where it goes.  There is a field for every single visitor, and NASA keeps in on record for years. Of all the information NASA keeps on visitors and employees, there is only a few fields that NASA is allowed to make publicly available.  people.openNASA.com uses this public information to populate our database.  All additional information is given by the employee at their own discretion. 
    </div>
    <div id="question">
      So, all this information is publicly available?
    </div>
    <div id="answer">
      Yes, indeed.  See for yourself at <a href="http://people.nasa.gov">http://people.nasa.gov</a>.
    </div>
    <div id="question">
      What is x500 and LDAP?
    </div>
    <div id="answer">
      
      
    </div>
    <div id="question">
      What is a vcard?
    </div>
    <div id="answer">
      
      
    </div>

    <div id="question">
      What is a gravatar?
    </div>
    <div id="answer">
      
      
    </div>

    
 
  </div>

  <div id="sidebar">


  


  </div>
</div>






{% end %}
