{% extends base.html %}

{% block body %}

{% if message %}
<p>{{message}}</p>
{% end %}

<form action="/" method="post">
<label for="query">Search for a NASA person</label><br>
<input type="text" name="query"><br>
<label for="center">Select a Center for your Search</label><br>
<select name="center">
<option value="Ames Research Center">Ames Research Center<br>
<option value="Dryden Flight Research Center">Dryden Flight Research Center<br>
<option value="Glenn Research Center">Glenn Research Center<br>
<option value="Goddard Space Flight Center">Goddard Space Flight Center<br>
<option value="Langley Research Center">Langley Research Center<br>
<option value="headquarters">Headquarters<br>
<!-- <option value="Jet%20Propulsion%20Laboratory">Jet Propulsion Laboratory<br> -->
<option value="Johnson Space Flight Center">Johnson Space Center<br>
<option value="Kennedy Space Flight Center">Kennedy Space Center<br>
<option value="Marshall Space Flight Center">Marshall Space Flight Center<br>
<option value="Stennis Space Center">Stennis Space Center<br>
<option value="all">All of Nasa (Slow!)<br>
</select>
<input type="submit" value="Find me some Space Peeps!">
</form>

{% end %}
