{% extends base.html %}

{% block body %}

<div id="search_home">
  {% include "search_slogan.html" %}

  {% if message %}
  <div id="no_search">
    <p>{{ message }}</p>
  </div>
  {% end %}

  <div id="main_search">

    <div id="links_search">
      <a href="#"
      onclick="document.getElementById('advanced_search').style.display='';
      document.getElementById('basic_search').style.display='none'; 
      document.getElementById('basic_link').display='';
      document.getElementById('advanced_link').display='none';
      return false;" id="advanced_link">advanced</a>

      <a href="#"
      onclick="document.getElementById('basic_search').style.display='';
      document.getElementById('advanced_search').style.display='none'; 
      document.getElementById('advanced_link').display='';
      document.getElementById('basic_link').display='none';
      return false;" id="basic_link" style="display:none">basic</a>

      <a href="/faq#notfound">help+faq</a>        
    </div>
    <br><br><br>
    <div id="basic_search">{% include "basic_search.html" %}</div>
    <div id="advanced_search" style="display:none">{% include "advanced_search.html" %}</div>

  </div>

  <div id="recently_edited_home">
    <center>
      <h3>Recently Edited Profiles</h3>
      {% for uid, gravatar in recent_gravatars.iteritems() %}
      <a href="person/{{ uid }}"><img src="{{ gravatar }}"></a>
      {% end %}
    </center>
  </div>
</div>
{% end %}
