{% extends base.html %}

{% block body %}

<div id="search_home">
  <a href="/">{% include "search_slogan.html" %}</a>

  {% if message %}
  <div id="no_search">
    <center>
      {{ message }}
    </center>
  </div>
  {% end %}

    <div id="links_search">
      <center>
      <a href="#"
	 id="advanced_link"
	 onclick="document.getElementById('advanced_search').style.display='';
		  document.getElementById('basic_search').style.display='none'; 
		  document.getElementById('advanced_link').display='none';
		  document.getElementById('basic_link').display='';
		  return false;">[ Advanced Search ]</a>

      <a href="#"
	 id="basic_link"
	 onclick="document.getElementById('basic_search').style.display='';
		  document.getElementById('advanced_search').style.display='none'; 
		  document.getElementById('basic_link').display='none';
		  document.getElementById('advanced_link').display='';
		  return false;">[ Basic Search ]</a>

      <a href="/faq#notfound">[ Help ]</a>        
      </center>
    </div>

  <div id="main_search">

    <div id="basic_search">
      {% include "basic_search.html" %}
    </div>
    <div id="advanced_search" style="display:none">
      {% include "advanced_search.html" %}
    </div>

  </div>

  <div id="recently_edited_home">
    <center>
      <h3>Recently Edited Profiles</h3>
      {% for uid, gravatar in recent_gravatars.iteritems() %}
      <a href="person/{{ uid }}"><img src="{{ gravatar }}"></a>
      {% end %}
    </center>
  </div>
</div>
{% end %}
