{% extends base.html %}

{% block body %}

<h2>{{ profile['Name'][0]}}</h2>

<!-- 

profile data:

some of the values in the profile dict are strings, and some are
lists, so careful :). 

-->

{% for field, values in profile.iteritems() %}
{% if isinstance(values, str) %}
   <h3>{{ field }}</h3><br>
   {{ values }}
{% else %}
   <h3>{{ field }}</h3> 
   {% for value in values %}
      {{ value }}<br>
   {% end %} <!-- end for -->
{% end %} <!-- end else -->
{% end %} <!-- end for -->

<!-- gravatar -->

<!-- is this you? -->
<p>Is this you? Click <a href="">here</a> to edit</p>

{% end %} <!-- end block -->
