{% extends base.html %}
 
{% block meta %}
    <meta content="openNASA Profile page of {{ person.display_name() }}" name='description' />
{% end %}

{% block body %}

<div id="profile_page">
  <div id="content">
  <div id="person" class="vcard">    

    <img src="{{ person.gravatar() }}" class="photo" alt="gravatar" />
    <span class="fn">{{ person.display_name() }}</span>
    
    <div class="category">
         {{ category(person.get('category')) }}  
    </div>

    
    <div class="org">
      {{ person.get('title') }}
      {{ person.get('main_project') }}         
    </div>


    <div class="contact">
      <a class="email" href="mailto:{{ person.email() }}">{{% person.email() %}}</a> <!--write the person.email() function!! -->
        <span class="tel"><!--write the all phones parser function!! -->
          <span class="type">office</span>:
          <span class="value">{{ person.get('office' }}</span><br>
          <span class="type">mobile</span>:
          <span class="value">{{ person.get('mobile' }}</span><br>
          <span class="type">pager</span>:
          <span class="value">{{ person.get('pager' }}</span><br>
        </span>
      {% end %}
    </div>         
  </div>
  
  {% if person.get('bio') %}  
  
    <div class="wide_block">
      <h3>Biography</h3>
      <p>{{ person.get('bio') }}</p>
    </div>
  {% end %}

  {% if person.get('main_project_description') %}  
  
    <div class="wide_block">
      <h3>{{ person.get['main_project_name'] }}</h3>
      
      {% if person.get('main_project_web') %} 
        <a href="http://{{ person.get('main_project_web') }}">{{ person.get('main_project_web') }} </a>
      {% end %}<br>
      
      <p>{{ person.get('main_project_description') }}</p>
    </div>
  {% end %}
  
  
  {% if person.get('skills') %}  
    <div class="narrow_block">
      <h3>Skills</h3>
        {{ person.get('skills') }}
    </div>
  {% end %}

  {% if person.get('tags') %}  
    <div class="narrow_block">
      <h3>Tags</h3>
        {{ person.get('tags') }}
    </div>
  {% end %}

  {% if person.get('previous_projects') %}  
    <div class="narrow_block">
      <h3>Previous Projects</h3>
        {{ person.get('previous_projects') }}
    </div>
  {% end %}

  {% if person.get('side_projects') %}  
    <div class="narrow_block">
      <h3>Side Projects</h3>
        {{ person.get('side_projects') }}
    </div>
  {% end %}
  
  {% if person.get('postalAddress') or person.get('roomNumber') %} 
    <div class=" narrow_block">
      <h3>Address</h3>
      <address>
        {% if person.get('office') %}  
          {{ profile['office'] }}<br />
        {% end %}
        
        {% if person.get('roomNumber') %}
          {{ profile['roomNumber'][0] }}<br /><br />
        {% end %}
        
        {{ profile['postalAddress'][0] }}<br />
	{% if len(profile['postalAddress']) > 1 %}
        {{ profile['postalAddress'][1] }}<br />
	{% end %}
      </address>
    </div>
  {% end %}

  <div class=" narrow_block">
    <h3>Other Information</h3>
    {% if person.get('userClass') %}  
      {{ profile['userClass'][0] }}<br />
    {% end %}
    {% if person.get('hire_date') %}  
      {{ profile['office'] }}<br />
    {% end %}
    {% if person.get('personal_web') %}  
      {{ profile['office'] }}<br />
    {% end %}
  </div>

<!-- END STUFF -->


</div>

<div id="sidebar">
  <div id="map">
    <img src="{{ map(person.get('center')).strip() }}"class="photo"/>
    <h3>{{ person.get('building') }}, {{ person.get('room_num') }}</h3>
  </div>

  {% if person.get('twitter') %}  
    <div id="twitter">
      Follow @{{ person.get('twitter') }} on Twitter
    </div>
  {% end %}
    
  {% if person.get('facebook') %}  
    <div id="facebook">
      Connect with {{ person.get('facebook') }} via Facebook
    </div>
  {% end %}

  <!-- is this you? -->

  <div id="edit_alert">
    Are you {{ person.display_name() }}? Click <a href="/request/{{ person.uid }}">here</a> to edit your profile.
  </div>
  
</div>
</div>
</div>
<div>

 {% end %}<!-- end block -->
