{% extends base.html %}

{% block body %}

<h2>Hi {{ person.display_name() }}! </h2>

<i>You will be logged in until you click <a href="/logout">logout</a> or close this browser session.</i>
<h3>Share your info: connect faster, collaborate better</h3>

<p>All fields are optional</p>

<p><form action="/edit" method="get">

<fieldset class="profile_edit_fieldset"> <!-- display info -->
<legend>Display Information</legend>
<p>Select your display name and primary contact email. The display
  name will be used across the site, and your primary email will be
  used to retrieve your gravatar.</p>

<label for="primary_name">Display Name</label><br>
{% for name in person.get('all_names') %}
<input type="radio" name="primary_name" value="{{ name }} " {% if name.strip() == person.display_name().strip() %} checked="on" {% end %} /> {{name}}<br>
{% end %}
<br>
<label for="primary_email">Select your primary email</label><br>
{% for email in person.get('all_email') %}
<input type="radio" name="primary_email" value="{{ email }}" {% if email == person.email() %} checked="on" {% end %} /> {{email}}<br>
{% end %}
<br>
<label for="primary_phone">Main phone number</label><br>
{% for phone in person.get('all_phones') %}
<input type="radio" name="primary_phone" value="{{ phone }}" {% if phone == person.phone() %} checked="on" {% end %} /> {{phone}}<br>
{% end %}

</fieldset> <!-- end display info -->

<fieldset class="profile_edit_fieldset"> <!-- main nasa project -->
<legend>Main NASA Project</legend>
<p>Information about your main NASA project</p>
<label for="main_project_name">Name: </label> 
<input type="text" name="main_project_name" value="{{ person.get('main_project_name') }}"><br>
<label for="main_project_web">Website: </label> 
<input type="text" name="main_project_web" value="{{ person.get('main_project_web') }}"><br>
<label for="main_project_description">Description</label><br>
<textarea name="main_project_description" rows=5 cols=70 >
{{ person.get('main_project_description') }}
</textarea><br>
</fieldset> <!-- end main project -->

<fieldset class="profile_edit_fieldset"> <!-- more info -->
<legend>More Info about You!</legend>

<label for="bio">A brief Bio</label><br>
<textarea name="bio" rows=7 cols=70>
{{ person.get('bio') }}
</textarea><br>

<label for="tags">Tags (comma separated)</label><br>
<input type="text" name="tags" size="60" value="{{ person.get('tags') }}"><br>

<label for="skills">Skills (comma separated)</label><br>
<input type="text" name="skills" size="60"  value="{{ person.get('skills') }}"><br>

<label for="skills">Twitter ID</label><br>
<input type="text" name="twitter"  value="{{ person.get('twitter') }}"><br>

<label for="personal_web">Your Website</label><br>
<input type="text" name="personal_web"  value="{{ person.get('personal_web') }}"><br>

<label for="hire_date">Hire Date at NASA (Need a date-select)</label><br>
<input type="text" name="hire_date"  value="{{ person.get('hire_date') }}"><br>

<label for="title">Current Job Title</label><br>
<input type="text" name="title"  value="{{ person.get('title') }}"><br>

<label for="side_projects">Information about any side projects you'd like to share:</label><br>
<textarea name="side_projects" rows=7 cols=70>
{{ person.get('side_projects') }}
</textarea><br>

<label for="previous_projects">Previous Projects You've Worked On</label><br>
<textarea name="previous_projects" rows=7 cols=70>
{{ person.get('previous_projects') }}
</textarea><br>

<label for="category">Select a job category to help people find you using search</label><br>
<select name="category">
  {% for value in ["", "developer", "scientist", "engineer", "management", "center_ops", "mission_ops", "admin", "legal", "finance", "communications"] %}
  <option value="{{ value }}" {% if value ==  person.get('category') %} selected="selected" {% end %}>{{ value }}</option>
  {% end %}
</select>

</fieldset> <!-- end more info -->

<fieldset class="profile_edit_fieldset"> <!-- x500 info -->
<legend>x500 information</legend>
<p>Note that information you edit here <span class="warning">will NOT
  be stored in the official NASA x500</span>. It would be preferrable
  for you to update it through the formal channels, since then the two
  systems will be in sync. But if you really want to edit these here,
  go ahead. </p>

{% for field, values in person.x500.iteritems() %}
<label for="{{ field }}">{{ field }} </label><br>
{{ values }}<br>
<br>
{% end %}
</fieldset> <!-- end x500 info -->

<input type="submit" name="submitted" value="Share">
</form></p>

<!-- Fields:
building
room_num
bio
tags
skills
hire_date
title
main_project_name
main_project_description
main_project_web
side_projects
personal_web
previous_projects
category = [
 Developer
 Scientist
 Engineer
 Management
 Center Operations
 Mission Operations
 Administrative
 Legal
 Finance/Procurement
 Communications
]
twitter
facebook
-->

{% end %}
