
    <center> 
    <form action="/" method="get">
      <input type="text" name="query" class="submit" size="25"><br><br><br>
      <select name="ou" size=1>
        <option value="Ames Research Center">Ames Research Center</option>
        <option value="Dryden Flight Research Center">Dryden Flight Research Center</option>
        <option value="Glenn Research Center">Glenn Research Center</option>
        <option value="Goddard Space Flight Center">Goddard Space Flight Center</option>
        <option value="Headquarters">Headquarters</option>
        <option value="Jet Propulsion Laboratory">Jet Propulsion Laboratory</option>
        <option value="Johnson Space Center">Johnson Space Center</option>
        <option value="Kennedy Space Center">Kennedy Space Center</option>
        <option value="Langley Research Center">Langley Research Center</option>
        <option value="Marshall Space Flight Center">Marshall Space Flight Center</option>
        <option value="Stennis Space Center">Stennis Space Center</option>
      </select>
      <input type="submit" value="Search" />
    </form>
    </center>
