


    <center> 
    <form action="/" method="post">
      <input type="text" name="query" style="text-align:center" size="60"><br><br>
      <select name="ou" size=1>
      <option value="Ames%20Research%20Center">Ames Research Center
      <option value="Dryden%20Flight%20Research%20Center">Dryden Flight Research Center
      <option value="Glenn%20Research%20Center">Glenn Research Center
      <option value="Goddard%20Space%20Flight%20Center">Goddard Space Flight Center<br>
      <option value="Headquarters">Headquarters<br>
      <option value="Jet%20Propulsion%20Laboratory">Jet Propulsion Laboratory<br>
      <option value="Johnson%20Space%20Center">Johnson Space Center<br>
      <option value="Kennedy%20Space%20Center">Kennedy Space Center<br>
      <option value="Langley%20Research%20Center">Langley Research Center<br>
      <option value="Marshall%20Space%20Flight%20Center">Marshall Space Flight Center<br>
      <option value="Stennis%20Space%20Center">Stennis Space Center<br>
      </select>  
      <input type=button value="Search" onClick="javascript:formHandler(this)">    
    </form>
    </center>
