{% extends base.html %}

{% block body %}

<div id="search_home">
  {% include "search_slogan.html" %}
  <div id="main_search">
    <div id="links_search">
      <a href="/?advanced">advanced</a>
      <a href="/faq#notfound">help+faq</a>        
    </div><br><br><br>
    {% if advanced %}
    {% include "advanced_search.html" %}
    {% else %}
    {% include "basic_search.html" %}
    {% end %}
  </div>
  <div id="recently_edited_home">
    <center>
      <h3>Recently Edited Profiles</h3>
      {% for uid, gravatar in recent_gravatars.iteritems() %}
      <a href="person/{{ uid }}"><img src="{{ gravatar }}"></a>
      {% end %}
    </center>
  </div>
</div>
{% end %}
