<div id="sidebar_text">


  <div id="stat">
    <div id="stat_description">
      Number of profiles in people.openNASA
    </div>
    <div id="big_num">
      {{len(results)}}
    </div>
  </div>
  
  <div id="stat">
    <div id="stat_description">
      Number of profiles in people.openNASA
    </div>
    <div id="big_num">
      {{len(results)}}
    </div>
  </div>
  
  <div id="stat">
    <div id="stat_description">
      Number of profiles in people.openNASA
    </div>
    <div id="big_num">
      {{len(results)}}
    </div>
  </div>
  
  <div id="stat">
    <div id="stat_description">
      Number of profiles in people.openNASA
    </div>
    <div id="big_num">
      {{len(results)}}
    </div>
  </div>
    Number of searches

Latest profile update

Latest tag added


</div>