<div id="sidebar_text">

  <div id="stat">
    <div id="stat_description">
      Custom profiles in people.openNASA
    </div>
    <span id="big_num">
      {{num_customized}}
    </span>
  </div>
      
  <div id="stat">
    <div id="stat_description">
      Job Category Breakdown
    </div><br>
    <img src="http://chart.apis.google.com/chart?chs=280x120&
	      chd=t:{{ ','.join(categories.values()) }}&
	      chco=3e81ac&amp;cht=p&amp;chf=bg,s,E3EEF1&
	      chl={{ '|'.join(categories.keys()) }}">
  </div>
  
  <div id="stat">
    <div id="stat_description">
      Recently updated profiles
    </div>
    <div id="gravatar_rows">
      {% for uid, gravatar in recent_gravatars.iteritems() %}
       <a href="person/{{ uid }}"><img src="{{ gravatar }}"></a>
      {% end %}
    </div>
  </div>

  <div id="stat">
    <div id="stat_description">
      Top {{ len(top_tags) }} Tags
    </div>
    {% for tag, count in top_tags.iteritems() %}
      <span>{{ tag }}</span>
    {% end %}
  </div>
  
  <div id="stat">
    <div id="stat_description">
      Most popular skills
    </div>
    <div>
    {% for skill, count in top_skills.iteritems() %}
      <span>{{ skill }}</span>
    {% end %}
    </div>
  </div>

</div>
