<div id="sidebar_text">


  <div id="stat">
    <div id="stat_description">
      Custom profiles in people.openNASA
    </div>
    <span id="big_num">
      {{len(results)}}
    </span>
  </div>
  
  <div id="stat">
    <div id="stat_description">
      Most popular Job Category
    </div>
    <span id="big_num">
      {{len(results)}} 
    </span>
    <img src="static/images/job_category_sm.png">
  </div>
  
  <div id="stat">
    <div id="stat_description">
      Number of queries to date
    </div>
    <span id="big_num">
      {{len(results)}}
    </span>
  </div>
  
  <div id="stat">
    <div id="stat_description">
      Job Category Breakdown
    </div><br>
    <img src="http://chart.apis.google.com/chart?chs=250x150&amp;chd=t:60,40,30&amp;chco=1CACC4&amp;cht=p&amp;chf=bg,s,E3EEF1&amp; chl=Hello|World|Twitter" alt="Sample chart" />
  </div>
  
  <div id="stat">
    <div id="stat_description">
      Latest updated profile
    </div>
    <span id="big_num">
      {{len(results)}}
    </span>
  </div>
  
  <div id="stat">
    <div id="stat_description">
      Most popular skill
    </div>
    <span id="big_num">
      {{len(results)}}
    </span>
  </div>

</div>